
body {
    background-image: linear-gradient(to right top, #167d7f, #3e938f, #5da99f, #7ac0b0, #98d7c2);
    font-family: 'Inter', sans-serif;
}

.log-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.log-in-form {
    width: 450px; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.log-in-form input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.log-in-form h2 {
    text-align: center;
    width: 100%;
}

.error-star {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

.header {
    background: #ffffff;
    color: #343a40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

    .logo img {
        height: 40px;
    }

    .logo span {
        font-size: 1.8rem; 
        font-weight: bold; 
        color: #343a40; 
        letter-spacing: 1px; 
    }


